<div>
    <h1>Productos</h1>
    <ul>
        {{#each products}}
            <li>Title: {{this.title}}</li>
            <li>Description: {{this.description}}</li>
            <li>Price: {{this.price}}</li>
            <li>stock: {{this.stock}}</li>
            <br>
        {{/each}}
    </ul>
    {{#if hasPrevPage}}
    <a href="/api/products?limit={{limit}}&page={{prevPage}}&sort={{sort}}&query={{query}}"><button>Anterior</button></a>
    {{/if}}
    {{#if hasNextPage}}
    <a href="/api/products?limit={{limit}}&page={{nextPage}}&sort={{sort}}&query={{query}}"><button>Siguiente</button></a>
    {{/if}}
</div>
