<div>
  <div>
    <h1>Bienvenido!</h1>
    {{#if admin.rolAdmin}}
      <p>{{admin.name}}</p>
      <p>{{admin.email}}</p>
      <p style="color: rgb(16, 226, 61);">Admin</p>
    {{else}}
      <p>{{user.name}}</p>
      <p>{{user.email}}</p>
      <p>{{user.age}}</p>
      <p>User</p>
    {{/if}}
  </div>

  <br />

  <a href="/api/session/logout"><button>Salir de la cuenta</button></a>
  <h1>Productos</h1>
  <br />
  <a href="/api/carts/6465bf6f4ef027694d4f59d2"><button>Carrito</button></a>
  <br />
  <ul>
    {{#each products}}
      <a href="/api/products/{{this._id}}">
        <li>Title: {{this.title}}</li>
        <li>Description: {{this.description}}</li>
        <li>Price: {{this.price}}</li>
        <li>stock: {{this.stock}}</li>
      </a>
      <br />
    {{/each}}
  </ul>
  {{#if hasPrevPage}}
    <a
      href="/api/products?limit={{limit}}&page={{prevPage}}&sort={{sort}}&query={{query}}"
    ><button>Anterior</button></a>
  {{/if}}
  <p>{{page}}</p>
  {{#if hasNextPage}}
    <a
      href="/api/products?limit={{limit}}&page={{nextPage}}&sort={{sort}}&query={{query}}"
    ><button>Siguiente</button></a>
  {{/if}}
  {{#if totalPages}}
    <p>{{totalPages}}</p>
  {{/if}}
  <br />
</div>