<div>
  <h1>Producto</h1>
  <br />
  <div>
    <li>Title: {{prod.title}}</li>
    <li>Description: {{prod.description}}</li>
    <li>Price: {{prod.price}}</li>
    <li>Stock: {{prod.stock}}</li>
  </div>
  <br />
  <br />
  <a href="/api/products"><button>Volver</button></a>
  <button id="addProductToCart" cartId="{{user}}" prodId="{{prod._id}}">Agregar producto al carrito</button>
</div>
<script src="/js/addProductToCart.js"></script>