<div>
  <ul>
    {{#each user}}
        <li>Nombre: {{this.first_name}} {{this.last_name}}</li>
        <li>Email: {{this.email}}</li>
        <li>rolAdmin: {{this.rolAdmin}}</li>
        <li>rolPremium: {{this.rolPremium}}</li>
        <button class="updateRol" userId="{{this._id}}">Cambiar rol</button>
        <br>
        <br>
        <li>Last Connection: {{this.lastConnection}}</li>
      <br>
      <button class="deleteUser" userId="{{this._id}}">Eliminar usuario</button>
      <br>
      <br>
    {{/each}}
  </ul>
</div>
<script src="/js/updateRol.js"></script>
<script src="/js/deleteUser.js"></script>